@font-face {
    font-family: 'Bungee';
    src: url('/fonts/Bungee-Regular.eot');
    src: local('Bungee'), local('Bungee-Regular'),
        url('/fonts/Bungee-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bungee-Regular.woff2') format('woff2'),
        url('/fonts/Bungee-Regular.woff') format('woff'),
        url('/fonts/Bungee-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-Regular.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Regular.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Regular.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Regular.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-RegularItalic.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-RegularItalic.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-RegularItalic.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-Medium.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Medium.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Medium.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Medium.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-MediumItalic.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-MediumItalic.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-MediumItalic.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-Semibold.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Semibold.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Semibold.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-SemiboldItalic.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-SemiboldItalic.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-SemiboldItalic.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-Bold.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Bold.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Bold.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Bold.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-BoldItalic.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-BoldItalic.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-BoldItalic.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-Extrabold.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Extrabold.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Extrabold.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Solar Display';
  src: url('/frontend/public/fonts/ABCSolarDisplayTrial-ExtraboldItalic.eot');
  src: local('ABC Solar Display'), local('ABC-Solar-Display-Regular'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-ExtraboldItalic.woff2') format('woff2'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-ExtraboldItalic.woff') format('woff'),
    url('/frontend/public/fonts/ABCSolarDisplayTrial-ExtraboldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

$font-family-sans: 'ABC Solar Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
$font-family-head: 'Bungee', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
$font-family-mono: 'Courier New', Courier, monospace;
$font-family-base-custom: $font-family-sans;